body {
  font-family: "Montserrat", sans-serif;
  min-width: 1200px;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-image: url(../images/sections-background/background.jpg);
  background-color: lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  transform-style: preserve-3d;
  /* z-index: -1; */
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(94, 93, 88, 0.6);
  height: 120px;
  width: 100%;
}

.navbar-container {
  width: 1160px;
  height: 120px;
  display: flex;
  align-items: center;
  margin: auto;
  /* margin-right: 305px; */
}

.logo {
  display: flex;
  flex-wrap: wrap;

  /* margin: auto; */
  margin-left: 0;
}

.logo-letter {
  margin-left: 16.5px;
  position: absolute;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.logo-image {
  margin: auto;
  object-fit: cover;
}

.logo-text {
  margin-right: 284px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.logo-text-span {
  font-weight: 700;
  color: rgba(24, 207, 171, 1);
}

.menu,
.menu-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.menu-element {
  display: flex;
  margin-left: 21px;
  list-style-type: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.search-icon {
  object-fit: cover;
}

.menu-element a {
  color: rgba(255, 255, 255, 0.6);
}

.menu-element a:hover {
  color: rgba(24, 207, 171, 1);
  text-decoration: underline;
  text-underline-offset: 52px;
  text-decoration-thickness: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 251px;
}

.home-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.home-the-ham {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
}

.home-creative {
  margin: 20px 0px;
  color: #fff;
  text-align: center;
  font-size: 78px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
}

.home-advertisement {
  margin: 0;
  color: #d4d4d4;
  text-align: center;
  font-size: 34px;
  font-family: Montserrat;
}

.the-ham-span {
  color: rgba(24, 207, 171, 1);
}

.home-buttons {
  display: flex;
  margin: auto;
  justify-content: space-between 26px;
}

.button-explore,
.button-purchase {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  width: 169px;
  height: 63px;
  border-radius: 5px;
  cursor: pointer;
  margin: 127px 13px 243px;
  border: 0px;
  border-top: 5px solid;
}

.button-explore {
  background-color: rgba(24, 207, 171, 1);
}

.button-purchase {
  background-color: rgba(0, 203, 246, 1);
}

.options {
  display: flex;
}

.table-options {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.options-list {
  align-items: center;
}

.option-1,
.option-2,
.option-3,
.option-4 {
  border-top: 8px solid #fff;
  border-bottom: 5px solid #fff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  height: 377px;
}

.option-1,
.option-3 {
  color: #18cfab;
  background-color: rgba(28, 42, 51, 1);
}

.option-2,
.option-4 {
  color: #fff;
  background-color: rgba(24, 207, 171, 1);
}

.option-image {
  width: 100px;
  height: 100px;
}

.option-text {
  margin-top: 45px;
  text-align: center;
}

.services {
  width: 100%;
  background-color: #fff;
}

.our-services {
  background-color: #fff;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 91px;
}

.container-services-title {
  margin-bottom: 100px;
  margin-top: 47px;
}

.service-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #4e4e4e;
}

.service-title::after {
  content: "";
  position: relative;
  display: block;
  width: 75px;
  height: 1px;
  left: calc(50% - 88px / 2);
  top: 25px;
  background: #18cfab;
}

.service-title::before {
  content: "";
  position: relative;
  display: block;
  width: 75px;
  height: 1px;
  left: calc(50% - 88px / 2 + 13px);
  top: 70px;
  background: #18cfab;
}

.tabs-services-title-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 23px;
}

.tabs-services-title {
  width: 193px;
  height: 73px;
  font-size: 16px;
  line-height: 2.44;
  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
  padding: 15px;
}

.tabs-services-title:hover {
  border: 1.5px solid #18cfab;
  cursor: pointer;
}
.tabs-services-title.active-tab {
  border: 1px solid #18cfab;
  cursor: pointer;
}

.tab-description-services-box {
  display: flex;
  gap: 13px;
}

.text-content-services-tab {
  max-width: 952px;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 1.79;
  color: #777777;
}

.img-content-services-tab {
  width: 284px;
}

.img-tab-services {
  width: 284px;
  height: 206px;
}

.tabs-services-title.active-tab {
  height: 80px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 91.5%,
    56.22% 91.5%,
    50% 100%,
    43.78% 91.5%,
    0 91.5%
  );
  background: #18cfab;
  border: 1px solid #18cfab;
  color: #fff;
}

.tabs-services-item.active-content {
  display: block;
}

.tabs-services-item {
  display: none;
}

.buy-install {
  background: center center/cover no-repeat
  url(../images/sections-background/section-2.png);
  background-attachment: fixed;
}

.buy-install-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.buy-install-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 127px;
  margin-bottom: 13px;
}

.buy-install-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #d8d8d8;
  margin-bottom: 62px;
}

.btn-buy-install {
  margin: 0 auto;
  margin-bottom: 128px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  width: 169px;
  height: 63px;
  border-radius: 5px;
  cursor: pointer;
  border: 0px;
  border-top: 5px solid;
  background-color: rgba(24, 207, 171, 1);
}

.our-work {
  background-color: #e9edef;
}

.container-our-work {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1160px;
}

.our-work-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #4e4e4e;
  margin-top: 97px;
  margin-bottom: 93px;
}

.our-work-title::after {
  content: "";
  position: relative;
  display: block;
  width: 75px;
  height: 1px;
  left: calc(50% - 88px / 2);
  top: 25px;
  background: #18cfab;
}

.our-work-title::before {
  content: "";
  position: relative;
  display: block;
  width: 75px;
  height: 1px;
  left: calc(50% - 88px / 2 + 13px);
  top: 70px;
  background: #18cfab;
}

.our-work-title-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-title-item {
  padding: 14px 15px;
  line-height: 3;
  color: #717171;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
}

.our-work-title-item:first-child {
  padding: 14px 40px;
}

.our-work-title-item:hover,
.active {
  border: 2px solid #18cfab;
  color: #18cfab;
  cursor: pointer;
}
.load-more {
  width: 168px;
  height: 63px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  background-color: #18cfab;
  cursor: pointer;
  margin: 70px auto 0 auto;
  padding: 20px;
  font-size: 14px;
  line-height: 3;
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.load-more p {
  margin-top: 5px;
}
.btn-plus {
  margin-right: 15px;
}
.our-work-gallery {
  margin-top: 71px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.our-work-gallery-descr {
  width: 284px;
  height: 206px;
}
.our-work-img {
  overflow: hidden;
}
.img-descr {
  width: 100%;
}
.loader {
  width: 48px;
  height: 48px;
  margin: 75px auto 10px;
  border: 5px solid #18cfab;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hover-bg {
  display: none;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 2.07;
  text-decoration: none;
  color: #8a8a8a;
  border-top: 2.37px solid #18cfab;
  background: #e9edef;
}
.icon-hover-bg {
  height: 43px;
  margin-top: 44px;
}
.hover-bg span {
  display: none;
  margin-top: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.78;
  text-transform: uppercase;
  color: #18cfab;
  cursor: pointer;
}
.our-work-gallery-descr:hover .hover-bg,
.our-work-gallery-descr:hover .hover-bg span {
  display: block;
}
.our-work-gallery-descr:hover .our-work-img {
  display: none;
}
.hide {
  display: none;
}
.our-work-gallery-descr.hide {
  display: none;
}

.height{
  height: 100px;
}

.breaking-news {
  padding-bottom: 1px;
  background: #fff;
}

.container-news {
  background-color: #FFF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 33px;
  grid-row-gap: 73px;
}

.news-link {
  position: relative;
  color: #fff;
}
.february {
  position: absolute;
  width: 66px;
  height: 65px;
  top: 0;
  right: 0;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
  background: #203e38;
}
.news-image-container {
  overflow: hidden;
}

.subtitle-news {
  margin-top: 14px;
  margin-left: 16px;
  width: 184px;
  height: 50px;
  text-align: center;
}
.subtitle-news p {
  font-weight: 300;
  line-height: 2;
  color: #777777;
  width: 200px;
  display: flex;
  gap: 50px;
}
.subtitle-news span {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.16;
  color: #717171;
}

.wrap {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.16;
  color: #717171;
}
.news-link:hover .february {
  background: #18cfab;
}
.news-link:hover .subtitle-news span {
  color: #18cfab;
  padding: 0 0 0 15px;
}

.flex-title {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.breaking-news {
  background: #fff;
}

.container-news {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
  margin-bottom: 140px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 33px;
  grid-row-gap: 73px;
}

.news-link {
  position: relative;
  color: #fff;
}
.february {
  position: absolute;
  width: 66px;
  height: 65px;
  top: 0;
  right: 0;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
  background: #203e38;
}
.news-image-container {
  overflow: hidden;
}

.subtitle-news {
  margin-top: 14px;
  margin-left: 16px;
  width: 184px;
  height: 50px;
  text-align: center;
}
.subtitle-news p {
  font-weight: 300;
  line-height: 2;
  color: #777777;
  width: 200px;
  display: flex;
  gap: 50px;
}
.subtitle-news span {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.16;
  color: #717171;
}

.wrap {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.16;
  color: #717171;
}
.news-link:hover .february {
  background: #18cfab;
}
.news-link:hover .subtitle-news span {
  color: #18cfab;
  padding: 0 0 0 15px;
}

.flex-title {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.people-say {
  background: center center/cover no-repeat url("../images/sections-background/section-3.jpg");
  min-width: 1200px;
  padding-bottom: 99px;
  background-attachment: fixed;
}

.container-people-say {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 100px;
}

.people-say-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #ffffff;
  margin-top: 100px;
}

.people-say-title::after {
  content: "";
  position: relative;
  display: block;
  width: 75px;
  height: 1px;
  left: calc(50% - 88px / 2);
  top: 25px;
  background: #18cfab;
}

.people-say-title::before {
  content: "";
  position: relative;
  display: block;
  width: 75px;
  height: 1px;
  left: calc(50% - 88px / 2 + 13px);
  top: 70px;
  background: #18cfab;
}

.reviews {
  position: relative;
  width: 100%;
  margin-top: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reviews .slide-reviews {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 300;
  color: #bbbbbb;
  display: none;
}
.reviews .people-img {
  height: 170px;
  width: 170px;
  margin-top: 38px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid rgba(31, 218, 181, 0.2);
}

.reviews .text-reviews {
  width: 1160px;
  text-align: center;
  font-size: 16px;
  line-height: 1.88;
  color: #bbbbbb;
}
.reviews .info-reviews {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.info-reviews .name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.69;
  text-transform: uppercase;
  color: #18cfab;
}
.info-reviews .job {
  font-size: 13px;
  line-height: 2.08;
  color: #bbbbbb;
}
.left-arrow,
.right-arrow {
  position: absolute;
  bottom: 22px;
  width: 31px;
  height: 31px;
  color: #bbbbbb;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-arrow {
  right: calc(50% - 525px / 2);
}
.left-arrow {
  right: calc(50% + 525px / 2 - 31px);
}
.left-arrow:hover,
.right-arrow:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  color: #fff;
}
.min-container {
  width: 483px;
  margin-top: 51px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.min {
  height: 59px;
  width: 59px;
  margin: 0 19px;
  box-sizing: content-box;
  border: 6px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.min-img {
  height: 100%;
}
.min.active-review,
.min:hover {
  display: block;
  transform: scale(1.1) translate(0, -13px);
  opacity: 1;
  transition: all 0.4s ease-in;
}
.slide-reviews.active-review {
  position: relative;
  display: flex;
}

.slide-reviews.active-review .people-img {
  animation: testim-show 0.7s ease-in-out forwards;
}
.slide-reviews.active-review .name {
  animation: testim-content-in 0.4s ease-in-out forwards;
}
.slide-reviews.active-review .text-reviews {
  animation: testim-content-in 0.5s ease-in-out forwards;
}

@keyframes testim-content-in {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes testim-show {
  from {
      opacity: 0;
      transform: scale(0);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}


.footer {
  display: flex;
  flex-shrink: 0;
  background-color: rgba(34, 53, 63, 1);
  height: 120px;
}

.copyright {
  display: flex;
  justify-content: center;
  margin: auto;
}

.copyright-text {
  color: rgba(174, 174, 174, 1);
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 26px;
}

.copyright-text-span {
  color: rgba(24, 207, 171, 1);
}
